system_call_table/*.o 
system_call_table*.ko 
system_call_table/*.mod.* 
system_call_table/*.symvers 
system_call_table/*.order 
system_call_table/*.cmd 
system_call_table/*.d
system_call_table/*.mod
system_call_table/start.sh
code_segment/*.o 
code_segment/*.ko 
code_segment/*.mod.* 
code_segment/*.symvers 
code_segment/*.order 
code_segment/*.cmd 
code_segment/*.d
code_segment/*.mod
code_segment/start.sh
.vscode

